In [1]:
import pandas
# using dataframe
mydataset = {
             'cars': ["BMW", "Volvo", "Ford"],
            'passings': [3,7,2]
            }
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
import pandas as pd
# using dataframe with panda as pd
mydataset = {
             'cars': ["BMW", "Volvo", "Ford"],
            'passings': [3,7,2]
            }
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
import pandas as pd
print(pd.__version__)

2.2.3

In [6]:
# creating a dataframe
import pandas as pd
a = [1,2,3]
myvar = pd.Series(a)
print(myvar)

0    1
1    2
2    3
dtype: int64

In [7]:
print(myvar[0])

1

In [12]:
import pandas as pd
# create your own labels
a = [1,2,3,4,5]
myvar = pd.Series(a, index = ["K","R","I","T","I"])
print(myvar)

K    1
R    2
I    3
T    4
I    5
dtype: int64

In [14]:
print(myvar["R"])

2

In [17]:
#pandas series form a dictionary:
import pandas as pd
calories = {"day5": 258, "day6":420,"day7":369}
myvar = pd.Series(calories)
print(myvar)

day5    258
day6    420
day7    369
dtype: int64

In [19]:
#Create a series using only data from "day5" and "day":
import pandas as pd
calories = {"day5": 258, "day6":420,"day7":369}
myvar = pd.Series(calories, index = ["day5","day6"])
print(myvar)

day5    258
day6    420
dtype: int64

In [4]:
import  pandas as pd
data = {"colories":[420,380,390],
       "duration":[50,40,45]
       }
#load data into a DataFrame object:
myvar = pd.DataFrame(data)
print(myvar)

   colories  duration
0       420        50
1       380        40
2       390        45

In [5]:
#refer to the row index:
print(myvar.loc[0])

colories    420
duration     50
Name: 0, dtype: int64

In [6]:
print(myvar.loc[[0,1]])

   colories  duration
0       420        50
1       380        40

In [2]:
import pandas as pd 
data ={
    "calories": [420,302,301],
    "duration":[50,40,30]
}
df = pd.DataFrame(data,index =["day1","day2","day3"])
print(df)

      calories  duration
day1       420        50
day2       302        40
day3       301        30

In [2]:
# locate row 0
print(myvar.loc[0])

cars        BMW
passings      3
Name: 0, dtype: object

In [3]:
# locate 0 and 1 row
print(myvar.loc[[0,1]])

    cars  passings
0    BMW         3
1  Volvo         7

In [5]:
import pandas as pd
data = {
    "calories": [420,380,390],
    "duration": [50,40,45]
}
df = pd.DataFrame(data, index = ["day1","day2","day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [6]:
#locate named indexes
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

A panda dataframe can be displayed using the print function but it displays only a par of the dataframe not whole so we can use the head(),tail() and info() methods to get the overview of the dataFrame:-
    head() method provides a rapid summary of a data frame. It returns the column headers and specified numbe of rows from the begining

In [5]:
#pandas dataframe functions 
import pandas as pd
#create a dataframe 
data = {
    "Name":["John","Alice","Bob","Emma","Mike","Sarah","Rohit"],
    "Age":[25,30,35,27,40,33,21],
    "City":["New York","Paris","london","Sydney","Tokyo","Rome","Himachal"]
}
df = pd.DataFrame(data)
#display the first three rows
print("first three Rows are:")
print(df.head(3))
print()

#display the first five rows
print("First Five Rows:")
print(df.head(5))

first three Rows are:
    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   35    london

First Five Rows:
    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   35    london
3   Emma   27    Sydney
4   Mike   40     Tokyo

Pandas tail() method is simillar to the head() but it returns data starting from the end of the dataframe

In [11]:
import pandas as pd
# create a dataframe 
data = {
    "Name":["John","Alice","Bob","Emma","Mike","Sarah","Rohit"],
    "Age":[25,30,35,27,40,33,21],
    "City":["New York","Paris","london","Sydney","Tokyo","Rome","Himachal"]
}
df = pd.DataFrame(data)

#display the last three rows
print("last three rows: ")
print(df.tail(3))
print()

#display the last five rows
print("Last Five Rows:")
print(df.tail())

last three rows:
    Name  Age      City
4   Mike   40     Tokyo
5  Sarah   33      Rome
6  Rohit   21  Himachal

Last Five Rows:
    Name  Age      City
2    Bob   35    london
3   Emma   27    Sydney
4   Mike   40     Tokyo
5  Sarah   33      Rome
6  Rohit   21  Himachal

the info() method gives us the overall information about the DataFrame such as its class, data type, size etc. For Example-

In [12]:
import pandas as pd
#create Dataframe 
data = {
    "Name":["John","Alice","Bob","Emma","Mike","Sarah","Rohit"],
    "Age":[25,30,35,27,40,33,21],
    "City":["New York","Paris","london","Sydney","Tokyo","Rome","Himachal"]
}
df = pd.DataFrame(data)

#get info about dataFrame 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   City    7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

Pandas DataFrame Manipulation involves editing and modifying the existing dataframes
    add a New Column to DataFrame

In [13]:
import pandas as pd 
#define a dictionary containing student data 
data = {
    "Name":["Ram","Shyam","Lakshman","krishna"],
    "Height":[5.5,6.0,5.8,5.3],
    "Qualification":["BSC","BBA","MBA","BSC"]
}
#convert the dictionary into a DataFrame
df = pd.DataFrame(data)
#declare a new list
address = ["New York","London","Canada","Nalagarh"]
#assign the list as a column
df["address"] = address
print(df)

       Name  Height Qualification   address
0       Ram     5.5           BSC  New York
1     Shyam     6.0           BBA    London
2  Lakshman     5.8           MBA    Canada
3   krishna     5.3           BSC  Nalagarh

Adding  a new Row to the Pandas DataFrame  is not straight forward as adding columns in Pandas. We use .loc property to add a new row to a pandas DataFrame.E.g:-

In [14]:
import pandas as pd 
#define a dictionary containing student data 
data = {
    "Name":["Ram","Shyam","Lakshman","krishna"],
    "Height":[5.5,6.0,5.8,5.3],
    "Qualification":["BSC","BBA","MBA","BSC"]
}
#convert the dictionary into a DataFrame
df = pd.DataFrame(data)
print("Original DataFrame: ")
print(df)
print()
#add a new Row
df.loc[len(df.index)] =["Amy",5.3,"BIT"]
print("Modified DataFrame: ")
print(df)

Original DataFrame:
       Name  Height Qualification
0       Ram     5.5           BSC
1     Shyam     6.0           BBA
2  Lakshman     5.8           MBA
3   krishna     5.3           BSC

Modified DataFrame:
       Name  Height Qualification
0       Ram     5.5           BSC
1     Shyam     6.0           BBA
2  Lakshman     5.8           MBA
3   krishna     5.3           BSC
4       Amy     5.3           BIT

Removes rows from panda DataFrame
    drop()is used to delete rows or column from the DataFrame

In [15]:
import pandas as pd
#create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Felipe', 
'Rita'],
        'Age': [25, 30, 35, 40, 22, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Bogota', 
'Banglore']}
df = pd.DataFrame(data)
 # display the original DataFrame
print("Original DataFrame:")
print(df)
print()
 # delete row with index 4
df.drop(4, axis=0, inplace=True)
# delete row with index 5
df.drop(index=5, inplace=True)
 # delete rows with index 1 and 3
df.drop([1, 3], axis=0, inplace=True)
 # display the modified DataFrame after deleting rows
print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo
4   Felipe   22    Bogota
5     Rita   29  Banglore

Modified DataFrame:
      Name  Age      City
0    Alice   25  New York
2  Charlie   35     Paris

Delete DataFRame Columns

In [18]:
import pandas as pd
#create a sample DataFrame
# create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo'],
        'Height': ['165', '178', '185', '171'],
        'Profession': ['Engineer', 'Entrepreneur', 'Unemployed', 
'Actor'],
        'Marital Status': ['Single', 'Married', 'Divorced', 
'Engaged']}
df = pd.DataFrame(data)
 # display the original DataFrame
print("Original DataFrame:")
print(df)
print()
 # delete age column
df.drop('Age', axis=1, inplace=True)
# delete marital status column
df.drop(columns='Marital Status', inplace=True)
 # delete height and profession columns
df.drop(['Height', 'Profession'], axis=1, inplace=True)
 # display the modified DataFrame after deleting rows
print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Age      City Height    Profession Marital Status
0    Alice   25  New York    165      Engineer         Single
1      Bob   30    London    178  Entrepreneur        Married
2  Charlie   35     Paris    185    Unemployed       Divorced
3    David   40     Tokyo    171         Actor        Engaged

Modified DataFrame:
      Name      City
0    Alice  New York
1      Bob    London
2  Charlie     Paris
3    David     Tokyo

Renaming rows/columns

In [1]:
import pandas as pd 
#create a samle dataframe 
data = {
    "Name":["Shubham","Bhanu Pratap","Rohit Kumar","Gourav Shekhar"],
    "Age":[23,23,21,22],
    "City":["Mandi","Mandi","Bilaspur","Hamirpur"]
}
df = pd.DataFrame(data)
#display the original DataFrame
print("original DataFrame: ")
print(df)
print()

#rename column "Name" to "First Name"
df.rename(columns={"Name","First_Name"},inplace=True)

#rename column "Age" and "City"
df.rename(columns= {'Name': 'First_Name'}, inplace=True)
# rename columns 'Age' and 'City'
df.rename(mapper= {'Age': 'Number', 'City':'Address'}, axis=1, 
inplace=True)
# display the DataFrame after renaming column
print("Modified DataFrame:")
print(df)

original DataFrame:
             Name  Age      City
0         Shubham   23     Mandi
1    Bhanu Pratap   23     Mandi
2     Rohit Kumar   21  Bilaspur
3  Gourav Shekhar   22  Hamirpur

TypeError: 'set' object is not callable