In [1]:
# Create a python dictionary with threee values
marks = {
    "python":45,
    "english":68,
    "hindi":78
}
print(f"the old dictionary is {marks}")
# updating the values 
marks["python"] = 95
print(f"the new dictionary is {marks}")

the old dictionary is {'python': 45, 'english': 68, 'hindi': 78}
the new dictionary is {'python': 95, 'english': 68, 'hindi': 78}

In [17]:
# Creating a nested dictionary for employees
employees = {
    "Employee1": {
        "Name": "Shubham",
        "Age": 28,
        "Location": "Mumbai",
        "Salary": {
            "TCS": 50000,
            "Infosys": 60000,
            "Wipro": 55000
        }
    },
    "Employee2": {
        "Name": "Aisha",
        "Age": 32,
        "Location": "Mumbai",
        "Salary": {
            "TCS": 65000,
            "Wipro": 70000,
            "Microsoft": 75000
        }
    },
    "Employee3": {
        "Name": "Raj",
        "Age": 35,
        "Location": "Bangalore",
        "Salary": {
            "Infosys": 70000,
            "Microsoft": 80000,
            "Google": 85000
        }
    },
    "Employee4": {
        "Name": "Neha",
        "Age": 30,
        "Location": "Chennai",
        "Salary": {
            "TCS": 55000,
            "Google": 72000,
            "Infosys": 68000
        }
    }
}

# Printing the nested dictionary
print(employees)

{'Employee1': {'Name': 'Shubham', 'Age': 28, 'Location': 'Mumbai', 'Salary': {'TCS': 50000, 'Infosys': 60000, 'Wipro': 55000}}, 'Employee2': {'Name': 'Aisha', 'Age': 32, 'Location': 'Mumbai', 'Salary': {'TCS': 65000, 'Wipro': 70000, 'Microsoft': 75000}}, 'Employee3': {'Name': 'Raj', 'Age': 35, 'Location': 'Bangalore', 'Salary': {'Infosys': 70000, 'Microsoft': 80000, 'Google': 85000}}, 'Employee4': {'Name': 'Neha', 'Age': 30, 'Location': 'Chennai', 'Salary': {'TCS': 55000, 'Google': 72000, 'Infosys': 68000}}}

printing the name of the employee if the age is less than 30

In [8]:
for empid, empdetails in employees.items():
    if empdetails["Age"] <30:
        print(empdetails["Name"])

Shubham

printing name of the employees woriking in delhi

In [18]:
# Loop through the dictionary and return names if location is Delhi 
delhi_employees = [emp_details["Name"] for emp_details in employees.values() if emp_details["Location"] == "Mumbai"] 
print(delhi_employees)

['Shubham', 'Aisha']

In [25]:
print(*(empdetails["Name"] for empdetails in employees.values() if empdetails["Location"]== "Mumbai"))

Shubham Aisha

In [32]:
lst = [5, 10, 15, 25, 30, 35, 40]
# Using a list comprehension to filter elements
print(*(x for x in lst if (x % 3 == 0 and x % 5 == 0)))

15 30