write a program to fetch all data from the file

In [24]:
a = open("nthdata.txt", "r")
b = a.read()
print(b)
a.close()

TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas
INFOSYS,Kohli,Santosh,Venkat,Koti,Prabha,Soumya,Mishra
WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna
CTS,Prabha,Subha,Debha,Rabha,Venkat,Dhoni,Surya,Saroj
NTH,Narayana,Akhil,Arha,Venkat,Sravya,Ananya,Revanth,Aha
ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

Write a program to read the first line from the file

In [ ]:
a = open("nthdata.txt", "r")
b = a.readline()
print(b)
a.close()

TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas

Write a program to read the last line from the file

In [6]:
a = open("nthdata.txt", "r")
b = a.readlines()
c = b[-1]
print(c)

ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

Write a program to read the 3rd line from the file

In [12]:
a = open("nthdata.txt", "r")
b = a.readlines()
c = b[2]
print(c)
a.close()

WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna

Write a program to count total number of character in the file

In [13]:
a = open("nthdata.txt", "r")
b = a.read()
print(len(b))
a.close()

325

Write a Program to count total number of comma in the file

In [17]:
a = open("nthdata.txt", "r")
b = a.read()
c = b.count(',')
print(c)
a.close()

47

Write a progrsm to count total number of words in the 1st line in the file

In [23]:
a = open("nthdata.txt", "r")
b = a.readline()
c = b.split(',')
print(len(c))

9

Write a progrsm to count total number of lines in the files

In [ ]:
a = open("nthdata.txt", "r")
b = a.readlines()
print(len(b))
a.close()

6

Write a program to count total number of "Sai" in the file

In [32]:
a = open("nthdata.txt", "r")
word = "Sai"
b = a.read()
c = b.split(",")
d = c.count(word)
print(d)

1

Write a program to fetch first word from each line

In [41]:
a = open("nthdata.txt", "r")
b = a.readlines()
for i in range(len(b)):
    c = b[i]
    d = c.split(",")
    print(d[0])

TCS
INFOSYS
WIPRO
CTS
NTH
ABC

Write a program to fetch last word from each line

In [42]:
a = open("nthdata.txt", "r")
b = a.readlines()
for i in range(len(b)):
    c = b[i]
    d = c.split(",")
    print(d[-1])

Sas

Mishra

Arjuna

Saroj

Aha

Nikhilesh

fetch all words which starts with "a"

In [10]:
with open("nthdata.txt", "r") as file:
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    for i in data:
            if i.startswith(("a","A")):
                  print(i)

Amelia
Arjuna
Akhil
Arha
Ananya
Aha
ABC
Arha

fetch all words which ends with an vowel

In [18]:
with open("nthdata.txt","r") as file:
    vowels = "aeiouAEIOU"
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result = [item for item in data if item[-1] in vowels]
    print(result)

['Sai', 'Satya', 'Dhoni', 'Kohli', 'Koti', 'Prabha', 'Soumya', 'Mishra', 'WIPRO', 'Satya', 'Kohli', 'Chinna', 'Amelia', 'Arjuna', 'Prabha', 'Subha', 'Debha', 'Rabha', 'Dhoni', 'Surya', 'Narayana', 'Arha', 'Sravya', 'Ananya', 'Aha', 'Arha', 'Chinna', 'Satya', 'Dhoni']

fetch all words which has "a" or "i" in them

In [22]:
with open("nthdata.txt","r") as file:
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result = [item for item in data if ("a"or"A"or"i"or"I") in item]
    print(result)

['Sai', 'Satya', 'Sarath', 'Saroj', 'Venkat', 'Sas', 'Santosh', 'Venkat', 'Prabha', 'Soumya', 'Mishra', 'Satya', 'Ram', 'Chinna', 'Amelia', 'Arjuna', 'Prabha', 'Subha', 'Debha', 'Rabha', 'Venkat', 'Surya', 'Saroj', 'Narayana', 'Arha', 'Venkat', 'Sravya', 'Ananya', 'Revanth', 'Aha', 'Arha', 'Chinna', 'Satya', 'Venkat', 'Yash']

fetch words with length ==5

In [23]:
with open("nthdata.txt","r") as file:
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result =[item for item in data if len(item)==5]
    print(result)

['Rohit', 'Satya', 'Dhoni', 'Saroj', 'Kohli', 'WIPRO', 'Satya', 'Kohli', 'Subha', 'Debha', 'Rabha', 'Dhoni', 'Surya', 'Saroj', 'Akhil', 'Satya', 'Dhoni', 'Rohit']

fetch words which has no vowels except i

In [46]:
with open("nthdata.txt","r") as file:
    
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result = [item for item in data if("i" in item or "I" in item) and all(v not in item for v in "aeouAEOU" )]
print(result)

[]

fetch all words which endswith uppercase character

In [47]:
with open("nthdata.txt","r") as file:
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result = [item for item in data if item[-1].isupper()]
    print(result)

['TCS', 'INFOSYS', 'WIPRO', 'CTS', 'NTH', 'ABC']

count total number of characters excluding commas and \ns

In [53]:
with open("nthdata.txt","r") as file:
    character = 0
    b = file.read()
    for item in data:
        for i in item:
            if (","!=i!="\n"):
                character +=1
print("total number of characters are ",character)

total number of characters are  273

count total number of words in file

In [54]:
with open("nthdata.txt","r") as file:
    words = 0
    b = file.read()
    for item in data:
        words +=1
print("total number of words are ",words)

total number of words are  53

fetch all even number of length of words from each line of file

In [55]:
with open("nthdata.txt","r") as file:
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result = [item for item in data if len(item)%2 == 0]
    print(result)

['Sarath', 'Venkat', 'Venkat', 'Koti', 'Prabha', 'Soumya', 'Mishra', 'Chinna', 'Amelia', 'Suresh', 'Arjuna', 'Prabha', 'Venkat', 'Narayana', 'Arha', 'Venkat', 'Sravya', 'Ananya', 'Arha', 'Chinna', 'Venkat', 'Yash']

 fetch all words which ends with 'bha' in the file

In [56]:
with open("nthdata.txt","r") as file:
    b = file.read()
    data = b.replace("\n",",")
    data = data.split(",")
    result = [item for item in data if item.endswith("bha")]
    print(result)

['Prabha', 'Prabha', 'Subha', 'Debha', 'Rabha']

program to display all TCS employees?

In [93]:
with open("nthdata.txt","r") as file:
    b = file.read()
    # creating a list of elements after each and every enter
    data = b.split("\n")
    # breaking each element into sepparate list by comma and storing it
    # if company name is TCS then printing employees names
    result = [dataset[1:] for dataset in (data[i].split(",") for i in range(len(data))) if dataset[0]=="TCS"]
    print(result)

[['Sai', 'Rohit', 'Satya', 'Dhoni', 'Sarath', 'Saroj', 'Venkat', 'Sas']]

Display the company name of Chinna Employee?

In [91]:
with open("nthdata.txt","r") as file:
    b = file.read()
    employee = "Chinna"
    # creating a list of elements after each and every enter
    data = b.split("\n")
    result = [dataset[0] for dataset in (data[i].split(",") for i in range(len(data))) if employee in dataset]
    print(result)

['WIPRO', 'ABC']

 fetch the 2nd from 3rd line in the file?